extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    if self.data.articles
        main.grid_articles
            each val in self.data.articles.sort(function(a, b){ return (a.articlePublishStart > b.articlePublishStart) ? -1 : ((b.articlePublishStart > a.articlePublishStart) ? 1 : 0); })
                if val.title
                    - var article_slug = val.path
                    - var article_pictures = self.data.article_pictures.articles[article_slug]
                    a(href= `/${lang_path}${article_slug}`).card_article
                        .container_frame_16_9
                            if article_pictures
                                img.container_contents_16_9(src=`/assets/img/img_articles/${article_slug}/${article_pictures.heroImage}`)
                            else
                                img.container_contents_16_9(src='/assets/img/global/placeholder_hd_1.jpg')

                        if val.title
                            .card_article_title
                                p.keywords_left=val.tagKeyword
                                h3.article_title_locale= val.title

                        .card_article_lead
                            if val.lead
                                .article_lead=val.lead
                            else
                                if val.articleContents
                                    .article_lead=val.contents

                        .card_article_footer
                            if val.created_by.firstname
                                .article_author= `${val.created_by.firstname} ${val.created_by.lastname}`
                            span &nbsp;&nbsp;
                            if val.articlePublishStart
                                .article_publish_start
                                    +localdatetime(val.articlePublishStart)



