extends /film/layout.pug


block film

    +tabname(self.title)

block titleBox
    - var pathParts = self.path.split('/')
    - var filmPath = pathParts[pathParts.length - 1]
    section.f_title_box

        .premiere_type &nbsp;
        h1.film_title_detailed= self.title
        .str_info_blokk_1

            each p, locale in self.otherLocalePaths
                if self[`title_${locale}`]
                    .str_info_grid_3
                        .str_info_label= self.label.film.filmTitleSec
                        .str_info_value= self[`title_${locale}`]

            if self.titleOriginal
                .str_info_grid_3
                    .str_info_label= self.label.film.filmTitleOriginal
                    .str_info_value= self.titleOriginal

            if self.credentials.director
                .str_info_grid_3
                    .str_info_label= self.label.film.filmDirector
                    .str_info_value.clr_primary= self.credentials.director.join(', ')

            if self.countriesAndLanguages.countries
                - var countriesNames = function(item) {
                -   var itemNames = item.name
                -   return itemNames
                - }

                .str_info_grid_3
                    .str_info_label= self.label.film.filmCountries
                    .str_info_value= self.countriesAndLanguages.countries.map(countriesNames).join(', ')

            if self.year
                .str_info_grid_3
                    .str_info_label= self.label.film.filmYear
                    .str_info_value= self.year
