extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
            if self.label.userprofile
                br
                br
                br
                br
                br
                br
                br
                h1.display-4.m-b-2(id= 'profileUnFilledMessage' style= {display: 'none'})= self.label.userprofile.registerAddTitle
                h1.display-4.m-b-2(id= 'profileFilledMessage' style= {display: 'none'})= self.label.userprofile.userprofileTitle



                div.form
                    img#imgPreview(height="150px", alt="user profile pic", src="/assets/img/static/Hunt_Kriimsilm_2708d753de.jpg")
                    div.form-group(name= "userForm" onsubmit="return sendUserProfile()")
                        label(for='profileImg')= self.label.userprofile.pictureTitle
                        div#imgError
                        input#profileImg.form-control(type='file', value='fileUpload' name='profileImg' oninput="readImage()")
                    div.form-group
                        label(for='email')= self.label.userprofile.email
                        input#email.form-control(type='email', placeholder=`${self.label.userprofile.email}` name='email' autocomplete="off" oninput="validateEmail(this.id)")
                        div#emailHelp(class='valid')= self.label.userprofile.eMailHelp
                    div.form-group
                        label(for='firstName')= self.label.userprofile.firstName
                        input#firstName.form-control(type='text', placeholder=`${self.label.userprofile.firstName}` name='firstName' autocomplete="off" oninput="validateFirstName(this.id)")
                        div#firstNameHelp(class='valid')= self.label.userprofile.firstNameHelp
                    div.form-group
                        label(for='lastName')= self.label.userprofile.lastName
                        input#lastName.form-control(type='text', placeholder=`${self.label.userprofile.lastName}` name='lastName' autocomplete="off" oninput='validateLastName(this.id)')
                        div#lastNameHelp(class='valid')= self.label.userprofile.lastNameHelp
                    div.form-group
                        label(for='gender')= self.label.userprofile.gender
                        select#gender(name='gender' oninput='validateGender(this.id)')
                            option(value='male')= self.label.userprofile.genderM
                            option(value='female')= self.label.userprofile.genderF
                            option(value='other')= self.label.userprofile.genderO
                            option(class='invalid' value="" selected="")= self.label.userprofile.select
                        div#genderHelp(class='valid')= self.label.userprofile.genderHelp
                    div.form-group
                        label(for='dob')= self.label.userprofile.birthday
                        input#dob.form-control(type='date' name='dob', max="2007-01-01", min="1905-01-01", oninput="validateBDay(this.id)")
                        div#dobHelp(class='valid')= self.label.userprofile.ageHelp
                    div.form-group
                        label(for='phoneNr')= self.label.userprofile.phone
                        input#phoneNr.form-control(type='tel' placeholder=`${self.label.userprofile.phone}` name='phoneNr' oninput='validatePhoneNr(this.id)' autocomplete="off")
                        div#phoneNrHelp(class='valid')= self.label.userprofile.phoneNumHelp
                    div.form-group
                        label= self.label.userprofile.address
                        br
                        label.control-label(for='country')= self.label.userprofile.country
                        select#countrySelection.form-control.gds-cr(class='c_valid' country-data-region-id='citySelection' country-data-default-value='EE' data-language=self.locale required='' oninput= 'validateCountry("countrySelection")')
                    div.form-group
                        label.control-label(for='citySelection')= self.label.userprofile.city
                        select#citySelection.form-control(required='' oninput= 'validateCity("citySelection")')
                    button.btn.btn-primary(onclick='validateForm()')= self.label.userprofile.saveButton
                    p#profileSent(style= {display: 'none'})= self.label.userprofile.dataSaved


    style.
        .invalid {background-color: #f5e4e9; display: block; color: black}
        .valid {background-color: #e6f7e6; display: none}
        .c_invalid {background-color: #f5e4e9}
        .c_valid {background-color: #e6f7e6}

        h4 {color: #464646}
        h1 {color: black}
        #profileSent {color: black}
        label {color: black}
        #imgError {color: red}


