extends /_templates/layout.pug
include /_templates/mixins.pug


block content

    //- KUI KASSETIS ON ROHKEM KUI 1 FILM
    if self.films.length !== 1

        main.grid_film
            Kasseti title ja synopsis
            div
                if self.title
                    h1.dark_1= 'MITME FILMIGA KASSETT!!!!!!!!!!!!!!!!!! ' + self.title
                if self.synopsis
                    h1.dark_1= self.synopsis

            //- KARUSELL cassette piltidega
            section#carouselExampleIndicators.f_img_slider_box.carousel.slide(data-ride='carousel' data-interval='6000')
                ol.carousel-indicators
                    if self.media
                        if self.media.stills && self.media.stills[0]
                            each val, index in self.media.stills
                                li(data-target='#carouselExampleIndicators' data-slide-to = index)
                .carousel-inner.container_frame_16_9
                    if self.media
                        if self.media.stills && self.media.stills.length
                            each val, index in self.media.stills
                                if index == 0
                                    .carousel-item.active.container_contents_16_9
                                        img.d-block.container_contents_16_9(src=`/assets/img/dynamic/img_cassettes/${self.dirSlug}/${val.hash}${val.ext}` alt = self.title)
                                else
                                    .carousel-item.container_contents_16_9
                                        img.d-block.container_contents_16_9(src=`/assets/img/dynamic/img_cassettes/${self.dirSlug}/${val.hash}${val.ext}` alt = self.title)
                        else
                            .carousel-item.active.container_contents_16_9
                                img.d-block.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt = self.title)
                    else
                        .carousel-item.active.container_contents_16_9
                            img.d-block.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt = self.title)

                a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
                    // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        polyline(points='15 18 9 12 15 6')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
                    // <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        polyline(points='9 18 15 12 9 6')
                    span.sr-only Next
            //- LÕPP! KARUSELL cassette piltidega LÕPP


            //- Algab kasseti filmide info kuvamine
            each film in self.films
                block titleBox
                section
                    section.f_synopsis_box
                        .str_info_meta_gi
                            .str_info_meta_item
                                .str_info_meta_label.dark_1
                                    | Festival
                                .str_info_meta_festival
                                    | Tartuff
                            //- .str_info_meta_item
                            //-     .str_info_meta_label
                            //-         | Programm
                            //-     .str_info_meta_program
                            //-         | Foorum, Põhjusega mässajad
                        if typeof film.synopsis !== 'undefined'
                            - var synopsis_md = film.synopsis
                            .synopsis_gi
                                +format(synopsis_md)
                section
                    section.f_cred_box
                        .str_info_blokk_cred

                            if film.media && film.media.stills && film.media.stills[0]
                                each still in film.media.stills
                                    if still.hash && still.ext
                                        div(style="width:30%; height:10%; padding-bottom:20px; padding-top:20px;")
                                            img(src=`/assets/img/dynamic/img_films/${film.dirSlug}/${still.hash}${still.ext}` alt = film.titles style="width:100%; height:100%;")
                            else
                                div(style="width:30%; height:10%; padding-bottom:20px; padding-top:20px;")
                                    img(src=`/assets/img/static/placeholder_hd_1.jpg` alt = film.titles style="width:100%; height:100%;")


                            //- NB!
                            //- NB!
                            //- NB!
                            //- NB! Credentials võetakse strapis oleva roleNamePrivate järgi väiketähtedes
                            //-     Näiteks: "Composer" all olevad isikud saab kätte film.credentials.rolePersonsByRole.composer.join(', ')

                            if film.credentials.rolePersonsByRole.director && film.credentials.rolePersonsByRole.director[0]
                                .str_info_grid_3
                                    .str_info_label= self.label.film.director
                                    .str_info_value= film.credentials.rolePersonsByRole.director.join(', ')

                            if film.credentials.rolePersonsByRole.screenwriter && film.credentials.rolePersonsByRole.screenwriter[0]
                                .str_info_grid_3
                                    .str_info_label= self.label.film.screenwriter
                                    .str_info_value= film.credentials.rolePersonsByRole.screenwriter.join(', ')

                            //- //- For each as below if links needed for each person etc
                            //- if self.credentials.cast
                            //-     .str_info_grid_3
                            //-         .str_info_label= self.label.film.filmCast
                            //-         - var cast = ''
                            //-         each val in self.credentials.cast
                            //-             if !cast
                            //-                 - cast = val[self.locale]
                            //-             else
                            //-                 - cast = `${cast}, ${val[self.locale]}`
                            //-         .str_info_value= cast

                            if film.credentials.rolePersonsByRole.cast && film.credentials.rolePersonsByRole.cast[0]
                                .str_info_grid_3
                                    .str_info_label= self.label.film.cast
                                    .str_info_value= film.credentials.rolePersonsByRole.cast.join(', ')

                            if film.credentials.rolePersonsByRole.producer && film.credentials.rolePersonsByRole.producer[0]
                                .str_info_grid_3
                                    .str_info_label= self.label.film.producer
                                    .str_info_value= film.credentials.rolePersonsByRole.producer.join(', ')

                            if film.credentials.rolePersonsByRole.dop && film.credentials.rolePersonsByRole.dop[0]
                                .str_info_grid_3
                                    .str_info_label= self.label.film.doP
                                    .str_info_value= film.credentials.rolePersonsByRole.dop.join(', ')

                            if film.credentials.rolePersonsByRole.composer && film.credentials.rolePersonsByRole.composer[0]
                                .str_info_grid_3
                                    .str_info_label= self.label.film.composer
                                    .str_info_value= film.credentials.rolePersonsByRole.composer.join(', ')

                            if film.credentials.rolePersonsByRole.editor && film.credentials.rolePersonsByRole.editor[0]
                                .str_info_grid_3
                                    .str_info_label= self.label.film.editor
                                    .str_info_value= film.credentials.rolePersonsByRole.editor.join(', ')

                            //- Below datamodel needs to be updated and then code amended to be correct
                            if film.credentials.productionCompany
                                .str_info_grid_3
                                    .str_info_label= self.label.film.production
                                    .str_info_value= film.ProductionCompanyCSV
                section
                    section.f_runtime_box
                        if film.countriesAndLanguages.languages
                            - var languagesNames = function(item) {
                            -   var itemNames = item.name
                            -   return itemNames
                            - }
                            .str_info_grid_3
                                .str_info_label= self.label.film.languages
                                .str_info_value= film.countriesAndLanguages.languages.map(languagesNames).join(', ')

                        if film.runtime
                            .str_info_grid_3
                                .str_info_label= self.label.film.runtime
                                .str_info_value
                                    +dur(film.runtime)
                section
                    section.f_interactive_box
                        div.f_interactive_item
                            p
                                | Kas oled filmi juba näinud? Osale publiku lemmikfilmi hääletuses.
                            a.btn.btn_vote.active(href='https://forms.gle/ew2vrQRTEb83BNxR7' role='button' target='_BLANK')= self.label.button.filmAudienceVote
                        //- div
                        //-     p
                        //-         | Seoses Covid-19 levikuga palume registreerida oma osalemine seansil.
                        //-     a.btn.btn_covid.active(href='https://forms.gle/ew2vrQRTEb83BNxR7' role='button' target='_BLANK')= self.label.buttons.covidRegister

                    //- section.f_screenings_box
                    //-     div
                    //-         h1.section_headline= self.label.film.screenings

                    //-     .card-deck.m-o.p-0
                    //-         each screening in self.data.screenings

                    //-             if filmPath == screening.filmPath

                    //-                 .card.card_screening.rounded-0.border-0
                    //-                     .card-header.rounded-0.bg_dark_4
                    //-                         .grid_container_screening_time
                    //-                             div
                    //-                                 svg.svg_icon(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                    //-                                     rect(x='3' y='4' width='18' height='18' rx='2' ry='2')
                    //-                                     line(x1='16' y1='2' x2='16' y2='6')
                    //-                                     line(x1='8' y1='2' x2='8' y2='6')
                    //-                                     line(x1='3' y1='10' x2='21' y2='10')
                    //-                                 span.screening_date
                    //-                                     +screeningDate(screening.screeningDate)
                    //-                                     //- | 15. nov
                    //-                             .text-right
                    //-                                 svg.svg_icon(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                    //-                                     circle(cx='12' cy='12' r='10')
                    //-                                     polyline(points='12 6 12 12 16 14')
                    //-                                 span.screening_time
                    //-                                     +screeningTime(screening.screeningDatetime)
                    //-                                     //- | 17:30
                    //-                         .container_screening_location
                    //-                             svg.svg_icon(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                    //-                                 path(d='M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z')
                    //-                                 circle(cx='12' cy='10' r='3')
                    //-                             if screening.screeningHall
                    //-                                 span.screening_hall= screening.screeningHall
                    //-                             if screening.screeningCinema
                    //-                                 span.screening_venue= ' ' + screening.screeningCinema
                    //-                             if screening.screeningTown
                    //-                                 span.city= ' ' + screening.screeningTown

                    //-                             //- NÄIDE
                    //-                             //- if self.filmYear
                    //-                             //-     .str_info_grid_3
                    //-                             //-         .str_info_label= self.label.film.year
                    //-                             //-         .str_info_value= self.filmYear

                    //-                     .card-body.bg_dark_3
                    //-                         .screening_info_blokk
                    //-                             .str_info_grid_3
                    //-                                 span.screening_info_label= self.label.screening.screeningName
                    //-                                 span.screening_info_value= self.title
                    //-                             //- if screening.screeningSubtitles
                    //-                             if screening.screeningSubtitles
                    //-                                 .str_info_grid_3
                    //-                                     span.screening_info_label= self.label.screening.screeningSubtitles
                    //-                                     span.screening_info_value= screening.screeningSubtitles
                    //-                             if screening.screeningIntroGuests
                    //-                                 .str_info_grid_3
                    //-                                     span.screening_info_label= self.label.screening.screeningIntroGuests
                    //-                                     span.screening_info_value= screening.screeningIntroGuests
                    //-                             if screening.screeningIntroPresenter
                    //-                                 .str_info_grid_3
                    //-                                     span.screening_info_label= self.label.screening.screeningIntroPresenter
                    //-                                     span.screening_info_value= screening.screeningIntroPresenter
                    //-                             if screening.screeningQaGuests
                    //-                                 .str_info_grid_3
                    //-                                     span.screening_info_label= self.label.screening.screeningQaGuests
                    //-                                     span.screening_info_value= screening.screeningQaGuests
                    //-                             if screening.screeningQaPresenter
                    //-                                 .str_info_grid_3
                    //-                                     span.screening_info_label= self.label.screening.screeningQaPresenter
                    //-                                     span.screening_info_value= screening.screeningQaPresenter

                    //-                             if screening.screeningTotalDuration
                    //-                                 .str_info_grid_3
                    //-                                     span.screening_info_label= self.label.screening.screeningTotalDuration
                    //-                                     span.screening_info_value
                    //-                                         +dur(screening.screeningTotalDuration)


                    //-                     .btn-group(role='group' aria-label='')

                    //-                         if screening.screeningHall == 'Online'
                    //-                             a.btn.btn_secondary.active(href='#' role='button') &nbsp;
                    //-                             a.btn.btn_primary.active(href=screening.screeningOnlineUrl role='button')= self.label.button.screeningBuyTicket
                    //-                         if screening.screeningTown == 'Tartu'
                    //-                             a.btn.btn_covid.active(href='https://forms.gle/UU4sFENoWyZ3PjSF8' role='button' target='_BLANK')= self.label.button.covidRegister
                    //-                             a.btn.btn_primary.active( role='button')= self.label.button.screeningFree

                    //- Sample img for showing presenter logo/pic - can be deleted

                    //- if film.presentedBy && film.presentedBy.presentedByText && film.presentedBy.organisations && film.presentedBy.organisations[0]

                    //-     section.f_extra_box
                    //-         p= film.presentedBy.presentedByText
                    //-         img.presenter_img(src=`/assets/img/dynamic/img_films/${film.dirSlug}/`)

                    if film.filmQaClip

                        section.f_qaclip_box
                            .section_headline= self.label.film.qaClip
                            .embed-responsive.embed-responsive-16by9.m-0.p-0
                                - youtubeVideoCode = film.filmQaClip.split("=")
                                +youtube(youtubeVideoCode[1])

                    if film.filmTrailer

                        section.f_trailer_box
                            .section_headline= self.label.film.trailer
                            .embed-responsive.embed-responsive-16by9.m-0.p-0
                                - youtubeVideoCode = film.filmTrailer.split("=")
                                +youtube(youtubeVideoCode[1])

                    section.f_imgs_box

                block film


    //- KUI KASSETIS ON AINULT 1 FILM
    else if self.films.length === 1


        main.grid_film
            //- Kasseti title ja synopsis
            //- div
            //-     if self.title
            //-         h1.dark_1= 'ÜHEFILMIKASSETT!!!!!!!!!!!!!!!!!! ' + self.title
            //-     if self.synopsis
            //-         h1.dark_1= self.synopsis

            //- KARUSELL cassette piltidega
            section#carouselExampleIndicators.f_img_slider_box.carousel.slide(data-ride='carousel' data-interval='6000')
                ol.carousel-indicators
                    if self.films[0].media
                        if self.films[0].media.stills && self.films[0].media.stills[0]
                            each val, index in self.films[0].media.stills
                                li(data-target='#carouselExampleIndicators' data-slide-to = index)
                .carousel-inner.container_frame_16_9
                    if self.films[0].media
                        if self.films[0].media.stills && self.films[0].media.stills.length
                            each val, index in self.films[0].media.stills
                                if index == 0
                                    .carousel-item.active.container_contents_16_9
                                        img.d-block.container_contents_16_9(src=`/assets/img/dynamic/img_films/${self.films[0].dirSlug}/${val.hash}${val.ext}` alt = self.title)
                                else
                                    .carousel-item.container_contents_16_9
                                        img.d-block.container_contents_16_9(src=`/assets/img/dynamic/img_films/${self.films[0].dirSlug}/${val.hash}${val.ext}` alt = self.title)
                        else
                            .carousel-item.active.container_contents_16_9
                                img.d-block.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt = self.title)
                    else
                        .carousel-item.active.container_contents_16_9
                            img.d-block.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt = self.title)

                a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
                    // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        polyline(points='15 18 9 12 15 6')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
                    // <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        polyline(points='9 18 15 12 9 6')
                    span.sr-only Next
            //- LÕPP! KARUSELL cassette piltidega LÕPP


            //- Algab kasseti filmide info kuvamine
            each film in self.films
                block titleBox
                section.f_synopsis_box

                    //- Kassetti festivali info
                    if self.festival_edition && self.festival_edition.festival && self.festival_edition.festival.name
                    .str_info_meta_gi
                        .str_info_meta_item
                            .str_info_meta_label.dark_1= self.label.film.festival
                            .str_info_meta_festival= self.festival_edition.festival.name


                            if self.festival_edition && self.festival_edition && self.festival_edition.name
                                //- Kas selleks eraldi labelit vaja vms?
                                .str_info_meta_label.dark_1= self.label.film.festival
                                .str_info_meta_festival= self.festival_edition.name

                            if film.tags && film.tags.programmes && film.tags.programmes[0]
                                - var programmeNames = function(item) {
                                -   var itemNames = item.name
                                -   return itemNames
                                - }
                                .str_info_meta_label.dark_1= self.label.film.programme
                                .str_info_meta_festival= film.tags.programmes.map(programmeNames).join(', ')

                            if film.tags && film.tags.genres && film.tags.genres[0]
                                .str_info_meta_label.dark_1= self.label.film.genre
                                .str_info_meta_festival= film.tags.genres.join(', ')


                            if film.tags && film.tags.keywords && film.tags.keywords[0]
                                .str_info_meta_label.dark_1= self.label.film.keywords
                                .str_info_meta_festival= film.tags.keywords.join(', ')

                            //- festival programm zanrid keywordid


                        //- .str_info_meta_item
                        //-     .str_info_meta_label
                        //-         | Programm
                        //-     .str_info_meta_program
                        //-         | Foorum, Põhjusega mässajad
                    if typeof film.synopsis !== 'undefined'
                        - var synopsis_md = film.synopsis
                        .synopsis_gi
                            +format(synopsis_md)
                section.f_cred_box
                    .str_info_blokk_cred

                        //- if film.media && film.media.stills && film.media.stills[0]
                        //-     each still in film.media.stills
                        //-         if still.hash && still.ext
                        //-             div(style="width:30%; height:10%; padding-bottom:20px; padding-top:20px;")
                        //-                 img(src=`/assets/img/dynamic/img_films/${film.dirSlug}/${still.hash}${still.ext}` alt = film.titles style="width:100%; height:100%;")
                        //- else
                        //-     div(style="width:30%; height:10%; padding-bottom:20px; padding-top:20px;")
                        //-         img(src=`/assets/img/static/placeholder_hd_1.jpg` alt = film.titles style="width:100%; height:100%;")

                        //- NB!
                        //- NB!
                        //- NB!
                        //- NB! Credentials võetakse strapis oleva roleNamePrivate järgi väiketähtedes
                        //-     Näiteks: "Composer" all olevad isikud saab kätte film.credentials.rolePersonsByRole.composer.join(', ')

                        if film.credentials.rolePersonsByRole.director && film.credentials.rolePersonsByRole.director[0]
                            .str_info_grid_3
                                .str_info_label= self.label.film.director
                                .str_info_value= film.credentials.rolePersonsByRole.director.join(', ')

                        if film.credentials.rolePersonsByRole.screenwriter && film.credentials.rolePersonsByRole.screenwriter[0]
                            .str_info_grid_3
                                .str_info_label= self.label.film.screenwriter
                                .str_info_value= film.credentials.rolePersonsByRole.screenwriter.join(', ')

                        if film.credentials.rolePersonsByRole.cast && film.credentials.rolePersonsByRole.cast[0]
                            .str_info_grid_3
                                .str_info_label= self.label.film.cast
                                .str_info_value= film.credentials.rolePersonsByRole.cast.join(', ')

                        if film.credentials.rolePersonsByRole.producer && film.credentials.rolePersonsByRole.producer[0]
                            .str_info_grid_3
                                .str_info_label= self.label.film.producer
                                .str_info_value= film.credentials.rolePersonsByRole.producer.join(', ')

                        if film.credentials.rolePersonsByRole.dop && film.credentials.rolePersonsByRole.dop[0]
                            .str_info_grid_3
                                .str_info_label= self.label.film.doP
                                .str_info_value= film.credentials.rolePersonsByRole.dop.join(', ')

                        if film.credentials.rolePersonsByRole.composer && film.credentials.rolePersonsByRole.composer[0]
                            .str_info_grid_3
                                .str_info_label= self.label.film.composer
                                .str_info_value= film.credentials.rolePersonsByRole.composer.join(', ')

                        if film.credentials.rolePersonsByRole.editor && film.credentials.rolePersonsByRole.editor[0]
                            .str_info_grid_3
                                .str_info_label= self.label.film.editor
                                .str_info_value= film.credentials.rolePersonsByRole.editor.join(', ')

                        //- Below datamodel needs to be updated and then code amended to be correct
                        if film.credentials.productionCompany
                            .str_info_grid_3
                                .str_info_label= self.label.film.production
                                .str_info_value= film.ProductionCompanyCSV
                section.f_runtime_box
                    if film.countriesAndLanguages.languages
                        - var languagesNames = function(item) {
                        -   var itemNames = item.name
                        -   return itemNames
                        - }
                        .str_info_grid_3
                            .str_info_label= self.label.film.languages
                            .str_info_value= film.countriesAndLanguages.languages.map(languagesNames).join(', ')

                    if film.runtime
                        .str_info_grid_3
                            .str_info_label= self.label.film.runtime
                            .str_info_value
                                +dur(film.runtime)
                section.f_interactive_box
                    .f_interactive_item
                        p
                            | Kas oled filmi juba näinud? Osale publiku lemmikfilmi hääletuses.
                        a.btn.btn_vote.active(href='https://forms.gle/ew2vrQRTEb83BNxR7' role='button' target='_BLANK')= self.label.button.filmAudienceVote

                if film.credentials && film.credentials.rolePerson[0]
                    - var sortCredentialsByOrder = film.credentials.rolePerson.sort(function(a, b){return a.role_at_film.order-b.role_at_film.order})
                    - var director = sortCredentialsByOrder.filter( (a) => { return 'Director' === a.role_at_film.roleNamePrivate })[0]

                //- if typeof director !== 'undefined' && director.person && director.person.firstName && director.person.lastName
                //-     section.f_dir_bio_box
                //-         if director.person.picture
                //-             div(style="width:200px; height:300px; padding-bottom:20px; padding-top:20px;")
                //-             img(src=`/assets/img/dynamic/img_persons/${director.person.picture.hash}${director.person.picture.ext}` alt = film.titles style="width:100%; height:100%;")

                //-         p= `${director.person.firstName} ${director.person.lastName}`

                //-         if director.person.biography
                //-             p= director.person.biography

                //-         if director.person.filmography
                //-             p= director.person.filmography

                if film.presentedBy && film.presentedBy.presentedByText && film.presentedBy.organisations && film.presentedBy.organisations[0]

                    section.f_extra_box
                        p= film.presentedBy.presentedByText
                        each presenter in film.presentedBy.organisations
                            p.dark_1= presenter.name

                            .supporter_logo_item_container
                                if presenter.homepageUrl
                                    a(href= presenter.homepageUrl).supporter_logo_item_container
                                        if presenter.logoColour
                                            img.supporter_logo_item(alt=presenter.name data-src=`/assets/img/dynamic/img_supporters/${presenter.logoColour.hash}${presenter.logoColour.ext}`  src=`/assets/img/dynamic/img_supporters/${presenter.logoColour.hash}${presenter.logoColour.ext}`)
                                        else if presenter.logoBlack
                                            img.supporter_logo_item(alt=presenter.name data-src=`/assets/img/dynamic/img_supporters/${presenter.logoBlack.hash}${presenter.logoBlack.ext}`  src=`/assets/img/dynamic/img_supporters/${presenter.logoBlack.hash}${presenter.logoBlack.ext}`)
                                        else if presenter.logoWhite
                                            img.supporter_logo_item(alt=presenter.name data-src=`/assets/img/dynamic/img_supporters/${presenter.logoWhite.hash}${presenter.logoWhite.ext}`  src=`/assets/img/dynamic/img_supporters/${presenter.logoWhite.hash}${presenter.logoWhite.ext}`)
                                else
                                    if presenter.logoColour
                                        img.supporter_logo_item(alt=presenter.name data-src=`/assets/img/dynamic/img_supporters/${presenter.logoColour.hash}${presenter.logoColour.ext}`  src=`/assets/img/dynamic/img_supporters/${presenter.logoColour.hash}${presenter.logoColour.ext}`)
                                    else if presenter.logoBlack
                                        img.supporter_logo_item(alt=presenter.name data-src=`/assets/img/dynamic/img_supporters/${presenter.logoBlack.hash}${presenter.logoBlack.ext}`  src=`/assets/img/dynamic/img_supporters/${presenter.logoBlack.hash}${presenter.logoBlack.ext}`)
                                    else if presenter.logoWhite
                                        img.supporter_logo_item(alt=presenter.name data-src=`/assets/img/dynamic/img_supporters/${presenter.logoWhite.hash}${presenter.logoWhite.ext}`  src=`/assets/img/dynamic/img_supporters/${presenter.logoWhite.hash}${presenter.logoWhite.ext}`)


                if film.filmQaClip

                    section.f_qaclip_box
                        .section_headline= self.label.film.qaClip
                        .embed-responsive.embed-responsive-16by9.m-0.p-0
                            - youtubeVideoCode = film.filmQaClip.split("=")
                            +youtube(youtubeVideoCode[1])

                if film.media && film.media.trailer && film.media.trailer[0] && film.media.trailer[0].url

                    section.f_trailer_box
                        .section_headline= self.label.film.trailer
                        .embed-responsive.embed-responsive-16by9.m-0.p-0
                            if film.media.trailer[0].source === 'YouTube'
                                - youtubeVideoCode = film.media.trailer[0].url.split("=")
                                +youtube(youtubeVideoCode[1])
                            else if film.media.trailer[0].source === 'Vimeo'

                section.f_imgs_box

                block film
