extends /_templates/film_templates/film_poff_layout_template.pug


block film

    +tabname(self.title)

block titleBox
    - var pathParts = self.path.split('/')
    - var filmPath = pathParts[pathParts.length - 1]
    section.f_title_box

        .premiere_type &nbsp;
        h1.film_title_detailed= self.title
        .str_info_blokk_1

            each p, locale in self.otherLocalePaths
                if self[`title_${locale}`]
                    .str_info_grid_3
                        .str_info_label= self.label.film[`title_${locale}`]
                        .str_info_value= self[`title_${locale}`]

            if self.titleOriginal
                .str_info_grid_3
                    .str_info_label= self.label.film.titleOriginal
                    .str_info_value= self.titleOriginal

            if self.credentials.rolePersonsByRole.director && self.credentials.rolePersonsByRole.director[0]
                .str_info_grid_3
                    .str_info_label= self.label.film.director
                    .str_info_value.clr_primary= self.credentials.rolePersonsByRole.director.join(', ')

            if self.countriesAndLanguages.countries
                - var countriesNames = function(item) {
                -   var itemNames = item.name
                -   return itemNames
                - }

                .str_info_grid_3
                    .str_info_label= self.label.film.countries
                    .str_info_value= self.countriesAndLanguages.countries.map(countriesNames).join(', ')

            if self.year
                .str_info_grid_3
                    .str_info_label= self.label.film.year
                    .str_info_value= self.year
