header
    //- nav.lang-menu
    //-     each p, locale in self.otherLocalePaths
    //-         a(href=(p !== '/' ? p + '/' : '/'))= locale.toUpperCase()
    .logo
        //- Defining locale path for multilingual support
        - var lang_path = self.locale === self.defaultLocale ? '' : `${self.locale}/`
        a(href=`/${lang_path}`)
            img.logo_img(alt='PÖFF' data-src='/assets/img/static/just_film_logo_text.svg' src='/assets/img/static/just_film_logo_text.svg')
    input#main_menu_toggle.main_menu_toggle(type='checkbox')

    - var articleMenuItemDomain = 'just_filmi_article'

    nav.main_menu
        ul.ul_yx
            li
                nav.org_menu
                    span.org_item
                        a(href='https://poff.ee')
                            | PÖFF
                    span.org_item
                        a(href='https://industry.poff.ee')
                            | !{`Industry@Tallinn & Baltic Event`}
                    span.org_item
                        a(href='https://shorts.poff.ee')
                            | PÖFF Shorts
                    span.org_item
                        a(href='https://kinoff.ee')
                            | Kinoff
                    span.org_item
                        a(href='https://kino.poff.ee')
                            | PÖFFi veebikino
                    span.org_item
                        a(href='https://poff.elisastage.ee')
                            | PÖFF @ ELISA STAGE

            each mainMenuItem in self.menu.sort(function(a, b){ return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0); })

                //- Kui on peamenüü itemil artikkel:
                if mainMenuItem[articleMenuItemDomain] && mainMenuItem.name && typeof mainMenuItem.name !== 'object'
                    if self.data.articles
                        - let mainMenuArticleFromYAML = self.data.articles.filter( (a) => { return mainMenuItem[articleMenuItemDomain].id === a.id })
                        - let mainArticle = mainMenuArticleFromYAML[0]
                        if mainArticle.article_types && mainArticle.article_types[0] && mainArticle.publish === true && mainArticle.title
                            - var mainArticleTypePath = ''
                            li
                                each artType in mainArticle.article_types
                                    if artType.name.toLowerCase() === 'about'
                                        - mainArticleTypePath = artType.slug
                                    else if artType.name.toLowerCase() === 'interview'
                                        - mainArticleTypePath = artType.slug
                                    else if artType.name.toLowerCase() === 'sponsor_story'
                                        - mainArticleTypePath = artType.slug
                                    else if artType.name.toLowerCase() === 'news'
                                        - mainArticleTypePath = artType.slug
                                    else
                                        - mainArticleTypePath = mainArticle.article_types[0].slug

                                a(href= `/${lang_path}${mainArticleTypePath}/${mainMenuItem[articleMenuItemDomain].slug}`)= mainMenuItem.name

                //- Kui peamenüü itemil pole artiklit ja on vähemalt mõni alammenüü
                else if mainMenuItem.subMenuItem && mainMenuItem.name && typeof mainMenuItem.name !== 'object'
                    li.dropdown
                        a= mainMenuItem.name
                        ul.ul_kaks
                            each subMenuItem in mainMenuItem.subMenuItem.sort(function(a, b){ return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0); })
                                if subMenuItem[articleMenuItemDomain]
                                    if self.data.articles
                                        - let mainMenuArticleFromYAML = self.data.articles.filter( (a) => { return subMenuItem[articleMenuItemDomain].id === a.id })
                                        - let article = mainMenuArticleFromYAML[0]

                                        if article.article_types && article.article_types[0] && article.publish === true && article.title
                                            - var articleTypePath = ''
                                            li
                                                each artType in article.article_types
                                                    if artType.name.toLowerCase() === 'about'
                                                        - articleTypePath = artType.slug
                                                    else if artType.name.toLowerCase() === 'interview'
                                                        - articleTypePath = artType.slug
                                                    else if artType.name.toLowerCase() === 'sponsor_story'
                                                        - articleTypePath = artType.slug
                                                    else if artType.name.toLowerCase() === 'news'
                                                        - articleTypePath = artType.slug
                                                    else
                                                        - articleTypePath = article.article_types[0].slug

                                                a(href= `/${lang_path}${articleTypePath}/${subMenuItem[articleMenuItemDomain].slug}`)= subMenuItem.name

                                else
                                    if subMenuItem.customUrl && subMenuItem.customUrl.length && subMenuItem.name && typeof subMenuItem.name !== 'object'
                                        li
                                            if subMenuItem.customUrl.substring(0, 4) === 'http'
                                                a(href= `${subMenuItem.customUrl}`)= `${subMenuItem.name}`
                                            else
                                                a(href= `/${lang_path}${subMenuItem.customUrl}/`)= `${subMenuItem.name}`

                //- Kui peamenüü itemil pole artiklit, pole alammenüüsid ja on customUrl
                else
                    if mainMenuItem.customUrl && mainMenuItem.customUrl.length && mainMenuItem.name && typeof mainMenuItem.name !== 'object'
                        li
                            if mainMenuItem.customUrl.substring(0, 4) === 'http'
                                a(href= `${mainMenuItem.customUrl}`)= `${mainMenuItem.name}`
                            else
                                a(href= `/${lang_path}${mainMenuItem.customUrl}/`)= `${mainMenuItem.name}`


            li
                nav.lang_menu
                    //- | prefiks&nbsp;
                    //- .clr_primary= self.label.film.languageSelect + 'rr'
                    each p, locale in self.otherLocalePaths
                        //- span.clr_white_semi= self.label.film.languageSelect + ':  '
                        //- if self.publish && (self[`publish_${locale}`] === false)
                        //-     p= '<' + self.path.split('/').includes('article') + ' - ' + self.publish + '-' + p + '>'
                        //- a(href=(p !== '/' ? p + '/' : '/'))= locale

                        if !('publish' in self) || ((self[`publish_${locale}`] !== false) && (`publish_${locale}` in self))
                            //- p= !('publish' in self) + ' or ' + ((self[`publish_${locale}`] !== false) && (`publish_${locale}` in self)) + ': ' + (self[`publish_${locale}`] !== false) + ' - ' + (`publish_${locale}` in self)
                            a(href=(p !== '/' ? p + '/' : '/'))= locale
                        else
                            a= locale

    label.main_menu_toggle_label(for='main_menu_toggle')
        span



    //- nav.main_menu
    //-     ul
    //-         li
    //-             a(href=`/${lang_path}articles`)= self.label.menu.mainNews
    //-         //- li.dropdown
    //-         //-     a(href='/films') Filmid
    //-         //-     if self.films
    //-         //-         ul
    //-         //-             each val in self.films
    //-         //-                 li: a(href= val.filmEventivalId)= val.filmTitle_et

    //-         //- li
    //-         //-     a(href=`/${lang_path}films`)= self.label.menu.mainFilms
    //-         //- li
    //-         //-     a(href=`/${lang_path}schedule`)= self.label.menu.mainSchedule
    //-         //- li
    //-         //-     a(href=`/${lang_path}info`)= self.label.menu.mainInfo
    //-         //- li
    //-         //-     a(href=`/${lang_path}covid`)= self.label.menu.mainCovid
    //-         li
    //-             a(href=`/${lang_path}festival`)= self.label.menu.mainTeam

                                li
                                    a(href=`/${lang_path}${article.path}`)= 'See on about link (label)'
            //- li
            //-     a(href='#') Piletid
            //- li
            //-     a(href='#') Press
            //- li
            //-     a(href='#') Festivalist
            //- li
            //-     p.select_locale_label= self.label.selectLocale
            //-     a(href='#') Toetajad
            li
                nav.lang_menu
                    //- | prefiks&nbsp;
                    //- .clr_primary= self.label.film.languageSelect + 'rr'
                    each p, locale in self.otherLocalePaths
                        //- span.clr_white_semi= self.label.film.languageSelect + ':  '
                        //- if self.publish && (self[`publish_${locale}`] === false)
                        //-     p= '<' + self.path.split('/').includes('article') + ' - ' + self.publish + '-' + p + '>'
                        //- a(href=(p !== '/' ? p + '/' : '/'))= locale

                        if !('publish' in self) || ((self[`publish_${locale}`] !== false) && (`publish_${locale}` in self))
                            //- p= !('publish' in self) + ' or ' + ((self[`publish_${locale}`] !== false) && (`publish_${locale}` in self)) + ': ' + (self[`publish_${locale}`] !== false) + ' - ' + (`publish_${locale}` in self)
                            a(href=(p !== '/' ? p + '/' : '/'))= locale
                        else
                            a= locale

    //-             if self.data.articles
    //-                 each article in self.data.articles
    //-                     //- article.article_types && article.article_types[0] && (article.article_types[0].name === 'About')  &&
    //-                     if (article.id === 12)

    //-                             li
    //-                                 a(href=`/${lang_path}${article.path}`)= 'See on about link (label)'
    //-         //- li
    //-         //-     a(href='#') Piletid
    //-         //- li
    //-         //-     a(href='#') Press
    //-         //- li
    //-         //-     a(href='#') Festivalist
    //-         //- li
    //-         //-     p.select_locale_label= self.label.selectLocale
    //-         //-     a(href='#') Toetajad
    //-         li
    //-             nav.lang_menu
    //-                 //- | prefiks&nbsp;
    //-                 //- .clr_primary= self.label.film.languageSelect + 'rr'
    //-                 each p, locale in self.otherLocalePaths
    //-                     //- span.clr_white_semi= self.label.film.languageSelect + ':  '
    //-                     a(href=(p !== '/' ? p + '/' : '/'))= locale

    //-                     //- a(href=(p !== '/' ? p + '/' : '/'))= locale.toUpperCase()

    //- label.main_menu_toggle_label(for='main_menu_toggle')
    //-     span

