header
            //- nav.lang-menu
            //-     each p, locale in self.otherLocalePaths
            //-         a(href=(p !== '/' ? p + '/' : '/'))= locale.toUpperCase()
            .logo
                //- Defining locale path for multilingual support
                - var lang_path = self.locale === self.defaultLocale ? '' : `${self.locale}/`
                a(href=`/${lang_path}`)
                    img.logo_img(alt='PÖFF' data-src='/assets/img/global/poff24_logo_black_o.svg' src='/assets/img/global/poff24_logo_black_o.svg')
            input#main_menu_toggle.main_menu_toggle(type='checkbox')

            nav.main_menu
                ul.ul_yx
                    each mainMenuItem in self.menu.sort(function(a, b){ return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0); })
                        if mainMenuItem.subMenuItem && mainMenuItem.name
                            li.dropdown
                                a= `${mainMenuItem.name}`
                                ul.ul_kaks
                                    each subMenuItem in mainMenuItem.subMenuItem.sort(function(a, b){ return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0); })
                                        if subMenuItem.poffi_article
                                            if self.data.articles
                                                - let article = self.data.articles.filter( (a) => { return subMenuItem.poffi_article.id === a.id })
                                                p= 'laaaaang ' + article.id + ' - ' + subMenuItem.poffi_article.id
                                                //- - let article_type = article.article_types[0]
                                                //- li
                                                //-     a(href= `/${lang_path}${article_type}/${subMenuItem.poffi_article.slug}`)= `---> ${subMenuItem.name}`
                                        else
                                            if subMenuItem.customUrl
                                                li
                                                    a(href= `/${lang_path}${subMenuItem.customUrl}/`)= `${subMenuItem.name}`
                        else
                            li
                                a(href= `/${lang_path}${mainMenuItem.customUrl}/`)= `${mainMenuItem.name}`

                    li
                        nav.lang_menu
                            //- | prefiks&nbsp;
                            //- .clr_primary= self.label.film.languageSelect + 'rr'
                            each p, locale in self.otherLocalePaths
                                //- span.clr_white_semi= self.label.film.languageSelect + ':  '
                                //- if self.publish && (self[`publish_${locale}`] === false)
                                //-     p= '<' + self.path.split('/').includes('article') + ' - ' + self.publish + '-' + p + '>'
                                //- a(href=(p !== '/' ? p + '/' : '/'))= locale

                                if !('publish' in self) || ((self[`publish_${locale}`] !== false) && (`publish_${locale}` in self))
                                    //- p= !('publish' in self) + ' or ' + ((self[`publish_${locale}`] !== false) && (`publish_${locale}` in self)) + ': ' + (self[`publish_${locale}`] !== false) + ' - ' + (`publish_${locale}` in self)
                                    a(href=(p !== '/' ? p + '/' : '/'))= locale
                                else
                                    a= locale

            label.main_menu_toggle_label(for='main_menu_toggle')
                span



            //- nav.main_menu
            //-     ul
            //-         li
            //-             a(href=`/${lang_path}articles`)= self.label.menu.mainNews
            //-         //- li.dropdown
            //-         //-     a(href='/films') Filmid
            //-         //-     if self.films
            //-         //-         ul
            //-         //-             each val in self.films
            //-         //-                 li: a(href= val.filmEventivalId)= val.filmTitle_et

            //-         //- li
            //-         //-     a(href=`/${lang_path}films`)= self.label.menu.mainFilms
            //-         //- li
            //-         //-     a(href=`/${lang_path}schedule`)= self.label.menu.mainSchedule
            //-         //- li
            //-         //-     a(href=`/${lang_path}info`)= self.label.menu.mainInfo
            //-         //- li
            //-         //-     a(href=`/${lang_path}covid`)= self.label.menu.mainCovid
            //-         li
            //-             a(href=`/${lang_path}festival`)= self.label.menu.mainTeam

                                        li
                                            a(href=`/${lang_path}${article.path}`)= 'See on about link (label)'
                    //- li
                    //-     a(href='#') Piletid
                    //- li
                    //-     a(href='#') Press
                    //- li
                    //-     a(href='#') Festivalist
                    //- li
                    //-     p.select_locale_label= self.label.selectLocale
                    //-     a(href='#') Toetajad
                    li
                        nav.lang_menu
                            //- | prefiks&nbsp;
                            //- .clr_primary= self.label.film.languageSelect + 'rr'
                            each p, locale in self.otherLocalePaths
                                //- span.clr_white_semi= self.label.film.languageSelect + ':  '
                                //- if self.publish && (self[`publish_${locale}`] === false)
                                //-     p= '<' + self.path.split('/').includes('article') + ' - ' + self.publish + '-' + p + '>'
                                //- a(href=(p !== '/' ? p + '/' : '/'))= locale

                                if !('publish' in self) || ((self[`publish_${locale}`] !== false) && (`publish_${locale}` in self))
                                    //- p= !('publish' in self) + ' or ' + ((self[`publish_${locale}`] !== false) && (`publish_${locale}` in self)) + ': ' + (self[`publish_${locale}`] !== false) + ' - ' + (`publish_${locale}` in self)
                                    a(href=(p !== '/' ? p + '/' : '/'))= locale
                                else
                                    a= locale

            //-             if self.data.articles
            //-                 each article in self.data.articles
            //-                     //- article.article_types && article.article_types[0] && (article.article_types[0].name === 'About')  &&
            //-                     if (article.id === 12)

            //-                             li
            //-                                 a(href=`/${lang_path}${article.path}`)= 'See on about link (label)'
            //-         //- li
            //-         //-     a(href='#') Piletid
            //-         //- li
            //-         //-     a(href='#') Press
            //-         //- li
            //-         //-     a(href='#') Festivalist
            //-         //- li
            //-         //-     p.select_locale_label= self.label.selectLocale
            //-         //-     a(href='#') Toetajad
            //-         li
            //-             nav.lang_menu
            //-                 //- | prefiks&nbsp;
            //-                 //- .clr_primary= self.label.film.languageSelect + 'rr'
            //-                 each p, locale in self.otherLocalePaths
            //-                     //- span.clr_white_semi= self.label.film.languageSelect + ':  '
            //-                     a(href=(p !== '/' ? p + '/' : '/'))= locale

            //-                     //- a(href=(p !== '/' ? p + '/' : '/'))= locale.toUpperCase()

            //- label.main_menu_toggle_label(for='main_menu_toggle')
            //-     span

