header
    //- nav.lang-menu
    //-     each p, locale in self.otherLocalePaths
    //-         a(href=(p !== '/' ? p + '/' : '/'))= locale.toUpperCase()
    .logo
        //- Defining locale path for multilingual support
        - var lang_path = self.locale === self.defaultLocale ? '' : `${self.locale}/`
        a(href=`/${lang_path}`)
            img.logo_img(alt='PÖFF' data-src='/assets/img/global/poff24_logo_black_o.svg' src='/assets/img/global/poff24_logo_black_o.svg')
    input#main_menu_toggle.main_menu_toggle(type='checkbox')


    nav.main_menu
        ul.ul_yx
            each mainMenuItem in self.menu.sort(function(a, b){ return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0); })
                if mainMenuItem.subMenuItem && mainMenuItem.name
                    li.dropdown
                        a= mainMenuItem.name
                        ul.ul_kaks
                            each subMenuItem in mainMenuItem.subMenuItem.sort(function(a, b){ return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0); })
                                if subMenuItem.poffi_article
                                    if self.data.articles
                                        - let articleFromYAML = self.data.articles.filter( (a) => { return subMenuItem.poffi_article.id === a.id })
                                        - let article = articleFromYAML[0]
                                        li
                                            if article.article_types && article.article_types[0]
                                                - var articleTypePath = ''
                                                each artType in article.article_types
                                                    if artType.name.toLowerCase() === 'about'
                                                        - articleTypePath = artType.slug
                                                    else if artType.name.toLowerCase() === 'interview'
                                                        - articleTypePath = artType.slug
                                                    else if artType.name.toLowerCase() === 'sponsor_story'
                                                        - articleTypePath = artType.slug
                                                    else if artType.name.toLowerCase() === 'news'
                                                        - articleTypePath = artType.slug
                                                    else
                                                        - articleTypePath = article.article_types[0].slug

                                                a(href= `/${lang_path}${articleTypePath}/${subMenuItem.poffi_article.slug}`)= subMenuItem.name


                                        //- - let article_type = article.article_types[0]
                                        //- li
                                        //-     a(href= `/${lang_path}${article_type}/${subMenuItem.poffi_article.slug}`)= `---> ${subMenuItem.name}`
                                else
                                    if subMenuItem.customUrl
                                        li
                                            a(href= `/${lang_path}${subMenuItem.customUrl}/`)= `${subMenuItem.name}`
                else
                    li
                        a(href= `/${lang_path}${mainMenuItem.customUrl}/`)= `${mainMenuItem.name}`


            li
                nav.lang_menu
                    //- | prefiks&nbsp;
                    //- .clr_primary= self.label.film.languageSelect + 'rr'
                    each p, locale in self.otherLocalePaths
                        //- span.clr_white_semi= self.label.film.languageSelect + ':  '
                        //- if self.publish && (self[`publish_${locale}`] === false)
                        //-     p= '<' + self.path.split('/').includes('article') + ' - ' + self.publish + '-' + p + '>'
                        //- a(href=(p !== '/' ? p + '/' : '/'))= locale

                        a(href=(p !== '/' ? p + '/' : '/'))= locale


    label.main_menu_toggle_label(for='main_menu_toggle')
        span

