extends /_templates/layout.pug
include /_templates/mixins.pug



block content
    - var assetsDir = 'https://assets.poff.ee/img/'

    main.grid_ind_event


        if self.title && self.title.length > 1
            //- KARUSELL piltidega
            section#carouselExampleIndicators.f_img_slider_box.carousel.slide(data-ride='carousel' data-interval='6000')
                ol.carousel-indicators
                    if self.images && self.images[0]
                        each val, index in self.images
                            li(data-target='#carouselExampleIndicators' data-slide-to = index)
                .carousel-inner.container_frame_16_9
                    if self.images && self.images[0]
                        each val, index in self.images
                            if index == 0
                                .carousel-item.active.container_contents_16_9
                                    img.d-block.container_contents_16_9(src=`${assetsDir}${val.hash}${val.ext}` alt = self.title)
                            else
                                .carousel-item.container_contents_16_9
                                    img.d-block.container_contents_16_9(src=`${assetsDir}${val.hash}${val.ext}` alt = self.title)
                        else
                            .carousel-item.active.container_contents_16_9
                                img.d-block.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt = self.title)
                    else
                        .carousel-item.active.container_contents_16_9
                            img.d-block.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg' alt = self.title)

                a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
                    // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        polyline(points='15 18 9 12 15 6')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
                    // <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        polyline(points='9 18 15 12 9 6')
                    span.sr-only Next
            //- LÕPP! KARUSELL piltidega LÕPP

            section.f_title_box

                .premiere_type
                    if self.project_type
                        //- && self.project_type.type
                        p.premiere_type= self.project_type.type
                h1.film_title_detailed= self.title

                if self.startTime && typeof self.startTime === 'string'

                    .str_info_blokk_1

                        .str_info_grid_3
                            .str_info_label= self.label.industry.eventDate
                            .str_info_value
                                +screeningDate(self.startTime)

                        .str_info_grid_3
                            .str_info_label= self.label.industry.eventTimeEet
                            .str_info_value
                                +screeningTime(self.startTime)

                        .str_info_grid_3
                            .str_info_label= self.label.industry.eventTimeUser
                            .str_info_value
                                +screeningTime(self.startTime)



                //- if self.startTime && typeof self.startTime === 'string'
                //-     p
                //-         +screeningDate(self.startTime)
                //-         //- +localdate(self.startTime)
                //-     p
                //-         +screeningTime(self.startTime)

                //- if self.durationTime
                //-     p
                //-         +indEvDur(self.durationTime)

                //- LOCATION
                //- if self.location && self.location.hall && self.location.hall.name
                //-     if self.location.hall && self.location.hall.name
                //-         span.screening_hall= self.location.hall.name
                //-         if self.location.hall.cinema && self.location.hall.cinema.name
                //-             span.screening_venue= ` ${self.location.hall.cinema.name}`
                //-             if self.location.hall.cinema.town && self.location.hall.cinema.town.name && self.location.hall.cinema.town.country && self.location.hall.cinema.town.country.name
                //-                 span.city= ` ${self.location.hall.cinema.town.name}`

            section.f_synopsis_box
                .str_info_meta_gi
                .synopsis_gi
                    if self.lead && typeof self.lead === 'string'
                        p.dark_1
                            +format(self.lead)

                    if self.description && typeof self.description === 'string'
                        p.dark_1
                            +format(self.description)

            section.f_cred_box


            section#trailer.f_trailer_box
                .section_headline= self.label.film.trailer
                //- .embed-responsive.embed-responsive-16by9.m-0.p-0
                .videolevels_embed_container
                    if self.videoUrl
                        .videolevels_embed_contents
                            +videoVl(self.videoUrl)


                    //- iframe(src='https://videolevels.com/embed/Pn3hnm2lVrU') style='position: absolute; top:0; left: 0; width: 100%; height: 100%;' frameborder='0' scrolling='no' webkitallowfullscreen='true' mozallowfullscreen='true' allowfullscreen='true' class='noTransform'


                    //- if trailer.videoCode
                    //-     +video(trailer.videoCode)



            //- iga eventiga seotud projekti kohta sooviks lehele title_en, project_types, linki projekti lehele
            main.grid_films

                if self.industry_projects
                    each indProj in self.industry_projects
                        if indProj.slug
                            a(href=`/${indProj.slug}`)
                                if indProj.title
                                    h3.dark_1= indProj.title

                                if indProj.project_types
                                    h3.dark_1= indProj.project_types.map(type => type.type).join(', ')



            //- iga personi kohta tema pilti, nime, role_at_films, industry_person_type ja linki tema lehele
            main.grid_films

                if self.industry_people
                    each indPerson in self.industry_people
                        if indPerson.slug
                            a(href=`/${indPerson.slug}`)
                                if indPerson.role_at_films
                                    h3.dark_1= indPerson.role_at_films.map(role => role.roleName).join(', ')

                                if indPerson.industry_person_types
                                    h3.dark_1= indPerson.industry_person_types.map(type => type.type).join(', ')

                                h1.dark_1= `${indPerson.person.firstName ? indPerson.person.firstName : ''} ${indPerson.person.lastName ? indPerson.person.lastName : ''}`

                                if indPerson.profilePicAtInd
                                    - var personPic = assetsDir + indPerson.profilePicAtInd.hash + indPerson.profilePicAtInd.ext
                                else if indPerson.person.picture
                                    - var personPic = assetsDir + indPerson.person.picture.hash + indPerson.person.picture.ext
                                else
                                    - var personPic ='/assets/img/static/Hunt_Kriimsilm_2708d753de.jpg'
                                img.person_img(src=personPic alt=`${indPerson.person.firstName ? indPerson.person.firstName : ''} ${indPerson.person.lastName ? indPerson.person.lastName : ''}`)


