extends /_templates/layout.pug
include /_templates/mixins.pug



block content

    main.grid_film

        .container_frame_16_9
            if self.images
                if self.images.image
                    img.container_contents_16_9(alt= self.name ? self.name : '' data-src=`https://assets.poff.ee/img/${self.images.image.hash}${self.images.image.ext}`  src=`https://assets.poff.ee/img/${self.images.image.hash}${self.images.image.ext}`)
                else if self.images.imageDefault
                    img.container_contents_16_9(alt= self.name ? self.name : '' data-src=`https://assets.poff.ee/img/${self.images.imageDefault.hash}${self.images.imageDefault.ext}`  src=`https://assets.poff.ee/img/${self.images.imageDefault.hash}${self.images.imageDefault.ext}`)
                else
                    img.container_contents_16_9(src='/assets/img/static/placeholder_hd_1.jpg')

        if self.festival_edition && self.festival_edition.name
            h1.dark_1= self.festival_edition.name
            br
        if self.name && typeof self.name !== 'object'
            h1.dark_1= self.name
            br
        if self.description && typeof self.description !== 'object'
            h1.dark_1= self.description
            br
        if self.priceAtPeriod && self.priceAtPeriod[0] && self.priceAtPeriod[0].price
            h1.dark_1
                +euro(self.priceAtPeriod[0].price)


