extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
            if self.label.userprofile
                br
                br
                br
                br
                br
                br
                h1.display-4.m-b-2= self.label.userprofile.registerTitle

                a(href=`https://api.poff.ee/auth/facebook`) Facebook
                br
                a(href=`https://api.poff.ee/auth/google`) Google
                br
                a(href=`https://api.poff.ee/auth/eventival`) Eventival
                br

                div.form
                    img#imgPreview(height="150px", alt="user profile pic", src="/assets/img/static/Hunt_Kriimsilm_2708d753de.jpg")
                    div.form-group(name= "userForm" onsubmit="return sendUserProfile()")= self.label.userprofile.pictureTitle
                        div#imgError
                        label.btn.btn-primary(for='profileImg')= self.label.userprofile.choosePicture
                        input#profileImg.form-control(type='file', value='fileUpload' name='profileImg' style='visibility:hidden')

                    div.form-group
                        label(for='email')= self.label.userprofile.email
                        input#email.form-control(type='email', placeholder='Email' name='email' autocomplete="off" oninput="validateEmail()")
                        div#emailHelp(class='valid')= self.label.userprofile.eMailHelp
                    div#pswds
                        div.form-group
                            label(for='psw')= self.label.userprofile.password
                            input#psw.form-control(type='password', placeholder='salas천na' name='psw' autocomplete="off" oninput="validatePsw()" )
                            div#pswHelp(class='valid')= self.label.userprofile.passwordHelp
                        div.form-group
                            label(for='psw2')= self.label.userprofile.passwordRepeat
                            input#psw2.form-control(type='password', placeholder='salas천na uuesti' name='psw2' autocomplete="off" oninput="validatePswRep()")
                            div#psw2Help(class='valid')= self.label.userprofile.password2Help
                    div.form-group
                        label(for='firstName')= self.label.userprofile.firstName
                        input#firstName.form-control(type='text', placeholder='Eesnimi' name='firstName' autocomplete="off" oninput="validateFirstName()")
                        div#firstNameHelp(class='valid')= self.label.userprofile.firstNameHelp
                    div.form-group
                        label(for='lastName')= self.label.userprofile.lastName
                        input#lastName.form-control(type='text', placeholder='Perenimi' name='lastName' autocomplete="off" oninput='validateLastName()')
                        div#lastNameHelp(class='valid')= self.label.userprofile.lastNameHelp
                    div.form-group
                        label(for='gender')= self.label.userprofile.gender
                        select#gender(name='gender' oninput='validateGender()' onclick='styleGenderList()')
                            option(value='male' )= self.label.userprofile.genderM
                            option(value='female' )= self.label.userprofile.genderF
                            option(value='other' )= self.label.userprofile.genderO
                            option(class='invalid' value="" selected="")= self.label.userprofile.select
                        div#genderHelp(class='valid')= self.label.userprofile.genderHelp
                    div.form-group
                        label(for='dob')= self.label.userprofile.birthday
                        input#dob.form-control(type='date', placeholder='S체nnikuup채ev' name='dob', max="2007-01-01", min="1905-01-01", oninput="validateBDay()")
                        div#dobHelp(class='valid')= self.label.userprofile.ageHelp
                    div.form-group
                        label(for='phoneNr')= self.label.userprofile.phone
                        input#phoneNr.form-control(type='tel', placeholder='Telefoni number' name='phoneNr' oninput='validatePhoneNr()' autocomplete="off")
                        div#phoneNrHelp(class='valid')= self.label.userprofile.phoneNumHelp
                    div.form-group
                        label= self.label.userprofile.address
                        br
                        label.control-label(for='country')= self.label.userprofile.country
                        select#countrySelection.form-control.gds-cr(class='c_valid' country-data-region-id='gds-cr-one' country-data-default-value='EE' data-language=self.locale required='' oninput= 'validateCountry()')
                    div.form-group
                        label.control-label(for='gds-cr-one')= self.label.userprofile.city
                        select#gds-cr-one.form-control(required='' oninput= 'validateCity()' value="")
                    button.btn.btn-primary(onclick='validateForm()')= self.label.userprofile.saveButton
                    p.dark_1#profileSent(style= {display: 'none'})= self.label.userprofile.confirmMessage
                    a#loginButton(style={cursor: 'pointer', display: 'none'} href=`/${lang_path}login`)= self.label.menu.mainLogin


    style.
        .invalid {background-color: #f5e4e9; display: block}
        .valid {background-color: #e6f7e6; display: none}
        .c_invalid {background-color: #f5e4e9}
        .c_valid {background-color: #e6f7e6}
        h4, h1 {color: #464646}
        label {color: black}
        #imgError {color: red}
        .form-group{color: black}
        #profileImg{display: none}




