doctype xml
info
    concerts
        if self.data.screenings.length
            - var screenings = self.data.screenings
            - var bbb = 'tere'
            - var langs = {'et': 'EST', 'ru': 'RUS', 'en': 'ENG'}
            - langs[`aaa_${bbb}`] = 'HELLO!'
            - console.log(langs)
            each screening in screenings


                if screening.ticketingId
                    concert
                        concertId= screening.ticketingId
                        #{`description_${langs[self.locale]}`}
                            //- | !{`<description_`}#{`${langs[self.locale]}`}!{`></description`}#{`${langs[self.locale]}`}!{`>`}


                        //- #{`hello_${bbb}`}
                        //- | #{`<description_${langs[self.locale]}>`}
                        //- description[langs[self.locale]]= screening.ticketingId


//- Mitmefilmikassett PL jaoks siis kasseti P ja kui seda pole siis kasseti F, ja kui neid pole siis suvalise filmi P ja kui seda pole siis suvalise filmi F

//- poster picture ja kui pole, siis esimene still
//- synopsis 3 keeles
//- igas keeles synopsis ja synopsise lõppu kasseti url
//- Kui mitmefilmikassett, näitame kasseti pilti K algusega, kui K algusega ei leia siis suvalise F algusega
//-
