extends /_templates/layout.pug

block content



    if self.data.films
        main.grid_films
            each film in self.data.films
                a.card_film(href= `/${lang_path}film/${film.slug}`)
                    .container_frame_16_9
                        each media in film.media
                            //- - console.log(film.media)
                            if film.media['posters']
                                //- -console.log(film.media['posters'][0]['name'])
                            //-     if self.data.pictures.filmslugs[film.path].posters
                            //-         img.container_contents_16_9(src=`/assets/img/img_films/${film.path}/${self.data.pictures.filmslugs[film.path].poster}` alt = film[`filmTitle_${self.locale}`])
                            //-     else
                            //-         img.container_contents_16_9(src='/assets/img/global/placeholder_hd_1.jpg' alt = film[`filmTitle_${self.locale}`])
                            //- else
                            //-     img.container_contents_16_9(src='/assets/img/global/placeholder_hd_1.jpg' alt = film[`filmTitle_${self.locale}`])
                    .card_film_title
                        h3.film_title_locale= film.title
                    .card_film_info
                        each p, locale in self.otherLocalePaths
                            if film[`title_${locale}`]
                                .str_info_grid_3
                                    .str_info_label= self.label.film.titleSec
                                    .str_info_value= film[`title_${locale}`]
                        if film.credentials.director
                            .str_info_grid_3
                                .str_info_label= self.label.film.director
                                .str_info_value= film.credentials.director.join(', ')
                        if film.credentials.cast
                            .str_info_grid_3
                                .str_info_label= self.label.film.cast
                                .str_info_value= film.credentials.cast.join(', ')

