extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    if self.data.eventivalpersons

        section.team
            h1.section_headline EVENTIVAL PERSONS
            h1.sub_section_headline PERSONS
            .sub_team
                each person of self.data.eventivalpersons
                    .person(id=person.EV_ID)
                        .person_head
                            - var person_name = `${person.FirstName} ${person.LastName}`
                            img.person_img(src=person.ProfilePic alt=person_name)
                            .person_body.text_center
                                h4.text_center= person_name
