extends /_templates/layout.pug
include /_templates/mixins.pug



block content

    - var articlePics = self.data.pictures.articles
    - var splitSelfPath = self.path.split("/")[self.path.split("/").length-1]
    - var articlePic = articlePics[splitSelfPath]

    +tabname self.title

    section.grid_article
        section.article_hero_head
            if articlePic
                img(src=`/assets/img/img_articles/${splitSelfPath}/${articlePic.heroImage}`).article_hero_image
            else
                img(src='/assets/img/global/placeholder_hd_1.jpg').article_hero_image
        if self.title
            .article_hero_headline_box
                .article_title_detailed= self.title

    section.grid_article
        section.article_meta
            .str_info_meta_gi
                    .str_info_meta_item
                        .str_info_meta_value= self.label.menu.mainNews
                if self.created_by.firstname
                    .str_info_meta_item
                        .str_info_meta_value= `${self.created_by.firstname} ${self.created_by.lastname}`
                if self.articlePublishStart
                    .str_info_meta_item
                        //- .str_info_meta_value= self.kuupäev + '  ' + self.kell
                        .str_info_meta_value
                            +localdatetime(self.articlePublishStart)
                if self.TAGS
                    .str_info_meta_item
                        .str_info_meta_keywords= self.TAGS


        section.article_contents
            if self.lead
                p.font_weight_600= self.lead
            //- p= self.articleContents_et
            if self.contents
                +format(self.contents)


        section.article_extra
