extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    //- - var myUri = 'https://dev.inscaping.eu/${lang_path}'
    - var myUri = `http://localhost:4000/${lang_path}`

    - var lang_path = self.locale === self.defaultLocale ? '' : `${self.locale}/`
    //- - var myUri = `http://localhost:5000/${lang_path}`
    //- - var myUri = `${process.env['DOMAIN']}/${lang_path}`
    br
    br
    br
    br
    br

    h4#number= self.label.userprofile.enterHelp
    label(style={color: 'red'} for='loginUsername')= self.label.userprofile.email
    input#loginUsername(type='text')
    br
    p#pswdResetMessage(style={display:'none'}) Enter your email and click reset password. Code will be sent to email.
    div#password
        label(style={color: 'red'} for='loginPassword')= self.label.userprofile.password
        input#loginPassword(type='password')
    br
    p#signUpPassword2
    //- a(style= {color: 'blue'} id= 'provider' onclick= 'providerLogin(0)') Facebook
    //- br
    //- a(style= {color: 'blue'} id= 'provider' onclick= 'providerLogin(2)') Eventival
    a(href=`https://api.poff.ee/auth/facebook`) Facebook


    br
    a(href=`https://api.poff.ee/auth/google`) Google
    br
    a(href=`https://api.poff.ee/auth/eventival`) Eventival
    br
    br
    button(onclick='loginViaCognito()')= self.label.userprofile.signIn
    button(onclick='directToSignup()')= self.label.userprofile.register
    button(onclick='doResetPassword()')= self.label.userprofile.resetPassword
    br
    br
    p.mergeInfo(id= 'mergeInfo2' style= {display: 'none'}) Merge
    br
    br



    style.
        h1 {color: #464646}
        h4 {color: #464646}
        p {color: #464646}







