extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    //- - var myUri = 'https://dev.inscaping.eu'
    - var myUri = `http://localhost:4000/${lang_path}`
    //- - var myUri = 'http://localhost:5000/'

    //- - var myUri = `${process.env['DOMAIN']}/${lang_path}`


    br
    br
    br
    br
    br
    h4#number Log in without hosted UI:
    label(style={color: 'red'} for='loginUsername') Username:
    input#loginUsername(type='text')
    br
    label(style={color: 'red'} for='loginPassword') Password:
    input#loginPassword(type='password')
    br
    p#signUpPassword2

    a(href=`https://poffuserlogin.auth.eu-central-1.amazoncognito.com/oauth2/authorize?response_type=token&client_id=55092v28eip9fdakv3hv3j548u&redirect_uri=${myUri}login/&identity_provider=Facebook`) Facebook
    br
    a(href= `https://poffuserlogin.auth.eu-central-1.amazoncognito.com/oauth2/authorize?response_type=token&client_id=55092v28eip9fdakv3hv3j548u&redirect_uri=${myUri}login/&identity_provider=Google`) Google
    br
    button(onclick='loginViaCognito()') Login
    button(onclick='testfSetAccesstoken()') SignUp
    p#doSignUp
    br
    br
    br
    br
    br
    br
    p#favoritefilm(style={color: 'green'})
    br



    style.
        h1 {color: #464646}
        h4 {color: #464646}
        p {color: #464646}

    script
        include login.js








