extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    section.login_head

        h4#fromUserProfile(style={display:'none'}) Oma profiili nägemiseks logi sisse
        h4#fromMyPoff(style={display:'none'}) Oma Passide nägemiseks logi sisse
        h4#fromFavo(style={display:'none'}) Oma Lemmikute nägemiseks logi sisse

    section.grid_login

        .login_password

            h4.dark_1.login_headline#loginMessage= self.label.userprofile.loginPw

            div#userName
                label.login_label(for='loginUsername')= self.label.userprofile.email
                input.login_input#loginUsername(type='text')

            div#password
                label.login_label(for='loginPassword')= self.label.userprofile.password
                input.login_input#loginPassword(type='password')

            div#passwordRep(style={display: 'none'})
                label.login_label( for='loginPasswordRep') Password again:
                input.ogin_input#loginPasswordRep(type='password')

            button.login_btn_primary#loginBtn(onclick='loginViaCognito()')= self.label.userprofile.signIn

            button.login_btn_secondary#forgotPasswordBtn(onclick='doResetPassword()')= self.label.userprofile.resetPassword

            button.login_btn_secondary#sendPswdResetCodeBtn(style={display: 'none'} onclick='doSendResetCode()') Send code

            button.login_btn_secondary#resetPasswordBtn(style={display: 'none'} onclick='doSaveNewPswd()') Save new password

            div#resetCodeBox(style={display:'none'})
                label.login_label(style={color: 'red'} for='resetCode') Code:
                input.login_input#resetCode(type='text')
                button.login_btn(onclick = 'askForNewPassword()') Send

            p#signUpPassword2

            p#unfilledErrorMsg(style={display:'none'}) Missing email or/and password
            p#pswdResetMessage(style={display:'none'}) Enter your email and click 'send code'. Code will be sent to your email.
            p#pswdResetCodeMessage(style={display:'none'}) Enter your reset code sent to email:
            p#pswdResetEnterNewMessage(style={display:'none'}) Enter your new password 2x for account:
            p#pswdResetCompletedMessage(style={display:'none'}) Login with your new password
            p#currentUsername(style={display:'none'})
            p#noSuchUser(style={display:'none'})
                | User doesn't exist!
                br
                | Please register or try again with correct email.

        .login_some

            h4.dark_1.login_headline#loginMessage= self.label.userprofile.loginSome

            a#loginFB(href=`https://api.poff.ee/auth/facebook`)
                .button.login_btn_social
                    | Facebook

            a#loginG(href=`https://api.poff.ee/auth/google`)
                .button.login_btn_social
                    | Google

            a#loginE(href=`https://api.poff.ee/auth/eventival`)
                .button.login_btn_social
                    | Eventival

        .login_register

            h4.dark_1.login_headline#loginMessage= self.label.userprofile.loginRegister

            button.login_btn_secondary#signUpBtn(onclick='directToSignup()')= self.label.userprofile.register


            //- a(style= {color: 'blue'} id= 'provider' onclick= 'providerLogin(0)') Facebook
            //- br
            //- a(style= {color: 'blue'} id= 'provider' onclick= 'providerLogin(2)') Eventival





            p.mergeInfo(id= 'mergeInfo2' style= {display: 'none'}) Merge







