extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    //- - var myUri = 'https://dev.inscaping.eu/${lang_path}'
    - var myUri = `http://localhost:4000/${lang_path}`
    - var lang_path = self.locale === self.defaultLocale ? '' : `${self.locale}/`
    //- - var myUri = `http://localhost:5000/${lang_path}`
    //- - var myUri = `${process.env['DOMAIN']}/${lang_path}`
    br
    br
    br
    br
    br
    h4#number Log in with email+password
    label(style={color: 'red'} for='loginUsername') Email:
    input#loginUsername(type='text')
    br
    p#pswdResetMessage(style={display:'none'}) Enter your email and click reset password. Code will be sent to email.
    p#pswdResetCodeMessage(style={display:'none'}) Enter your reset code sent to email
    p#pswdResetEnterNewMessage(style={display:'none'}) Enter your new password 2x
    p#pswdResetCompletedMessage(style={display:'none'}) Login with your new password


    div#password
        label(style={color: 'red'} for='loginPassword') Password:
        input#loginPassword(type='password')
        br
    div#passwordRep(style={display: 'none'})
        label(style={color: 'red'} for='loginPasswordRep') Password again:
        input#loginPasswordRep(type='password')
    br
    div#resetCodeBox(style={display:'none'})
        label(style={color: 'red'} for='resetCode') Code:
        input#resetCode(type='text')
        button(onclick = 'askForNewPassword()') Send
    p#signUpPassword2
    //- a(style= {color: 'blue'} id= 'provider' onclick= 'providerLogin(0)') Facebook
    //- br
    //- a(style= {color: 'blue'} id= 'provider' onclick= 'providerLogin(2)') Eventival
    a#loginFB(href=`https://api.poff.ee/auth/facebook`) Facebook
    br
    a#loginG(href=`https://api.poff.ee/auth/google`) Google
    br
    a#loginE(href=`https://api.poff.ee/auth/eventival`) Eventival
    br
    button#loginBtn(onclick='loginViaCognito()') Login
    button#signUpBtn(onclick='directToSignup()') SignUp
    button#resetPasswordBtn(onclick='doResetPassword()') Reset password
    br
    br
    br
    br
    p.mergeInfo(id= 'mergeInfo2' style= {display: 'none'}) Merge
    br
    br



    style.
        h1 {color: #464646}
        h4 {color: #464646}
        p {color: #464646}








