extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    br
    br
    br
    br
    br
    h4#fromUserProfile(style={display:'none'})= self.label.userprofile.redirectFromUserprofileMessage
    h4#fromMyPoff(style={display:'none'})= self.label.userprofile.redirectFromMyPoffMessage
    h4#fromFavo(style={display:'none'})= self.label.userprofile.redirectFromFavouritesMessage

    h4#loginMessage= self.label.userprofile.enterHelp
    p#unfilledErrorMsg(style={display:'none'})= self.label.userprofile.unfilledPasswordOfEmailHelp
    p#pswdResetMessage(style={display:'none'})= self.label.userprofile.pswdResetHelp
    p#pswdResetCodeMessage(style={display:'none'})= self.label.userprofile.resetCodeHelp
    p#pswdResetEnterNewMessage(style={display:'none'})= self.label.userprofile.resetPswdNewPswdHelp
    p#pswdResetCompletedMessage(style={display:'none'})= self.label.userprofile.pswdResetCompleteHelp
    p#currentUsername(style={display:'none'})

    div#userName
        label(style={color: 'red'} for='loginUsername')= self.label.userprofile.email
        input#loginUsername(type='text')

    div#password
        label(style={color: 'red'} for='loginPassword')= self.label.userprofile.password
        input#loginPassword(type='password')
        br
    div#passwordRep(style={display: 'none'})
        label(style={color: 'red'} for='loginPasswordRep')= self.label.userprofile.passwordRepeat
        input#loginPasswordRep(type='password')
    br
    div#resetCodeBox(style={display:'none'})
        label(style={color: 'red'} for='resetCode')= self.label.userprofile.resetCodeLabel
        input#resetCode(type='text')
        button(onclick = 'askForNewPassword()')= self.label.userprofile.resetCodeButton
    p#signUpPassword2
    a#loginFB(href=`https://api.poff.ee/auth/facebook`) Facebook
    br
    a#loginG(href=`https://api.poff.ee/auth/google`) Google
    br
    a#loginE(href=`https://api.poff.ee/auth/eventival`) Eventival
    br
    br
    button#loginBtn(onclick='loginViaCognito()')= self.label.userprofile.signIn
    button#signUpBtn(onclick='directToSignup()')= self.label.userprofile.register
    button#forgotPasswordBtn(onclick='doResetPassword()')= self.label.userprofile.resetPassword
    button#sendPswdResetCodeBtn(style={display: 'none'} onclick='doSendResetCode()')= self.label.userprofile.sendResetCodeButton
    button#resetPasswordBtn(style={display: 'none'} onclick='doSaveNewPswd()')= self.label.userprofile.resetPswdButton
    br
    br
    br
    br



    style.
        h1 {color: #464646}
        h4 {color: #464646}
        p {color: #464646}






