extends ../_templates/layout.pug
include ../_templates/mixins.pug

block content
    p this is film2
//- block content

//-     main.grid_film
//-         if self.locale != 'et'
//-             - my_path = self.path.substring(1).split("/")[1]
//-         else
//-             - my_path = self.path.substring(1)
//-         - filmslugs = self.data.pictures.filmslugs
//-         - filmslug = filmslugs[my_path]

//-         section#carouselExampleIndicators.f_img_slider_box.carousel.slide(data-ride='carousel' data-interval='6000')
//-             ol.carousel-indicators
//-                 if filmslug
//-                     if filmslug.pics
//-                         each val, index in filmslug.pics
//-                             li(data-target='#carouselExampleIndicators' data-slide-to = index)
//-             .carousel-inner.container_frame_16_9
//-                 if filmslug
//-                     if filmslug.pics.length
//-                         each val, index in filmslug.pics
//-                             if index == 0
//-                                 .carousel-item.active.container_contents_16_9
//-                                     img.d-block.container_contents_16_9(src=`/assets/img/img_films/${my_path}/${val}` alt = self.filmTitle)
//-                             else
//-                                 .carousel-item.container_contents_16_9
//-                                     img.d-block.container_contents_16_9(src=`/assets/img/img_films/${my_path}/${val}` alt = self.filmTitle)
//-                     else
//-                         .carousel-item.active.container_contents_16_9
//-                             img.d-block.container_contents_16_9(src='/assets/img/global/placeholder_hd_1.jpg' alt = self.filmTitle)
//-                 else
//-                     .carousel-item.active.container_contents_16_9
//-                         img.d-block.container_contents_16_9(src='/assets/img/global/placeholder_hd_1.jpg' alt = self.filmTitle)

//-             a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
//-                 // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
//-                 svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
//-                     polyline(points='15 18 9 12 15 6')
//-                 span.sr-only Previous
//-             a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
//-                 // <span class="carousel-control-next-icon" aria-hidden="true"></span>
//-                 svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
//-                     polyline(points='9 18 15 12 9 6')
//-                 span.sr-only Next

//-         block titleBox
//-         section.f_synopsis_box
//-             .str_info_meta_gi
//-                 .str_info_meta_item
//-                     .str_info_meta_label
//-                         | Festival
//-                     .str_info_meta_festival
//-                         | Tartuff
//-                 //- .str_info_meta_item
//-                 //-     .str_info_meta_label
//-                 //-         | Programm
//-                 //-     .str_info_meta_program
//-                 //-         | Foorum, Põhjusega mässajad
//-             - synopsis_md = self.filmSynopsis
//-             .synopsis_gi
//-                 +format(synopsis_md)

//-         section.f_cred_box
//-             .str_info_blokk_cred
//-                 if self.filmDirector
//-                     .str_info_grid_3
//-                         .str_info_label= self.label.film.filmDirector
//-                         .str_info_value= self.filmDirector
//-                 if self.filmScreenwriter
//-                     .str_info_grid_3
//-                         .str_info_label= self.label.film.filmScreenwriter
//-                         .str_info_value= self.filmScreenwriter
//-                 if self.filmCast
//-                     .str_info_grid_3
//-                         .str_info_label= self.label.film.filmCast
//-                         .str_info_value= self.filmCast
//-                 if self.filmProducer
//-                     .str_info_grid_3
//-                         .str_info_label= self.label.film.filmProducer
//-                         .str_info_value= self.filmProducer
//-                 if self.filmDop
//-                     .str_info_grid_3
//-                         .str_info_label= self.label.film.filmDop
//-                         .str_info_value= self.filmDop
//-                 if self.filmComposer
//-                     .str_info_grid_3
//-                         .str_info_label= self.label.film.filmComposer
//-                         .str_info_value= self.filmComposer
//-                 if self.filmEditor
//-                     .str_info_grid_3
//-                         .str_info_label= self.label.film.filmEditor
//-                         .str_info_value= self.filmEditor
//-                 if self.filmProduction
//-                     .str_info_grid_3
//-                         .str_info_label= self.label.film.filmProduction
//-                         .str_info_value= self.filmProduction

//-         section.f_runtime_box
//-             if self.filmLanguages
//-                 .str_info_grid_3
//-                     .str_info_label= self.label.film.filmLanguages
//-                     .str_info_value= self.filmLanguages
//-             if self.filmDuration
//-                 .str_info_grid_3
//-                     .str_info_label= self.label.film.filmDuration
//-                     .str_info_value
//-                         +dur(self.filmDuration)

//-         section.f_interactive_box
//-             div.f_interactive_item
//-                 p
//-                     | Kas oled filmi juba näinud? Osale publiku lemmikfilmi hääletuses.
//-                 a.btn.btn_vote.active(href='https://forms.gle/ew2vrQRTEb83BNxR7' role='button' target='_BLANK')= self.label.buttons.filmAudienceVote
//-             //- div
//-             //-     p
//-             //-         | Seoses Covid-19 levikuga palume registreerida oma osalemine seansil.
//-             //-     a.btn.btn_covid.active(href='https://forms.gle/ew2vrQRTEb83BNxR7' role='button' target='_BLANK')= self.label.buttons.covidRegister

//-         section.f_screenings_box
//-             div
//-                 h1.section_headline= self.label.film.filmScreenings

//-             .card-deck.m-o.p-0
//-                 each screening in self.data.screenings

//-                     if filmPath == screening.filmPath

//-                         .card.card_screening.rounded-0.border-0
//-                             .card-header.rounded-0.bg_dark_4
//-                                 .grid_container_screening_time
//-                                     div
//-                                         svg.svg_icon(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
//-                                             rect(x='3' y='4' width='18' height='18' rx='2' ry='2')
//-                                             line(x1='16' y1='2' x2='16' y2='6')
//-                                             line(x1='8' y1='2' x2='8' y2='6')
//-                                             line(x1='3' y1='10' x2='21' y2='10')
//-                                         span.screening_date
//-                                             +screeningDate(screening.screeningDate)
//-                                             //- | 15. nov
//-                                     .text-right
//-                                         svg.svg_icon(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
//-                                             circle(cx='12' cy='12' r='10')
//-                                             polyline(points='12 6 12 12 16 14')
//-                                         span.screening_time
//-                                             +screeningTime(screening.screeningDatetime)
//-                                             //- | 17:30
//-                                 .container_screening_location
//-                                     svg.svg_icon(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
//-                                         path(d='M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z')
//-                                         circle(cx='12' cy='10' r='3')
//-                                     if screening.screeningHall
//-                                         span.screening_hall= screening.screeningHall
//-                                     if screening.screeningCinema
//-                                         span.screening_venue= ' ' + screening.screeningCinema
//-                                     if screening.screeningTown
//-                                         span.city= ' ' + screening.screeningTown

//-                                     //- NÄIDE
//-                                     //- if self.filmYear
//-                                     //-     .str_info_grid_3
//-                                     //-         .str_info_label= self.label.film.filmYear
//-                                     //-         .str_info_value= self.filmYear

//-                             .card-body.bg_dark_3
//-                                 .screening_info_blokk
//-                                     .str_info_grid_3
//-                                         span.screening_info_label= self.label.screening.screeningName
//-                                         span.screening_info_value= self.filmTitle
//-                                     //- if screening.screeningSubtitles
//-                                     if screening.screeningSubtitles
//-                                         .str_info_grid_3
//-                                             span.screening_info_label= self.label.screening.screeningSubtitles
//-                                             span.screening_info_value= screening.screeningSubtitles
//-                                     if screening.screeningIntroGuests
//-                                         .str_info_grid_3
//-                                             span.screening_info_label= self.label.screening.screeningIntroGuests
//-                                             span.screening_info_value= screening.screeningIntroGuests
//-                                     if screening.screeningIntroPresenter
//-                                         .str_info_grid_3
//-                                             span.screening_info_label= self.label.screening.screeningIntroPresenter
//-                                             span.screening_info_value= screening.screeningIntroPresenter
//-                                     if screening.screeningQaGuests
//-                                         .str_info_grid_3
//-                                             span.screening_info_label= self.label.screening.screeningQaGuests
//-                                             span.screening_info_value= screening.screeningQaGuests
//-                                     if screening.screeningQaPresenter
//-                                         .str_info_grid_3
//-                                             span.screening_info_label= self.label.screening.screeningQaPresenter
//-                                             span.screening_info_value= screening.screeningQaPresenter

//-                                     if screening.screeningTotalDuration
//-                                         .str_info_grid_3
//-                                             span.screening_info_label= self.label.screening.screeningTotalDuration
//-                                             span.screening_info_value
//-                                                 +dur(screening.screeningTotalDuration)


//-                             .btn-group(role='group' aria-label='Buttons')

//-                                 if screening.screeningHall == 'Online'
//-                                     a.btn.btn_secondary.active(href='#' role='button') &nbsp;
//-                                     a.btn.btn_primary.active(href=screening.screeningOnlineUrl role='button')= self.label.buttons.filmTicketBuy
//-                                 if screening.screeningTown == 'Tartu'
//-                                     a.btn.btn_covid.active(href='https://forms.gle/UU4sFENoWyZ3PjSF8' role='button' target='_BLANK')= self.label.buttons.covidRegister
//-                                     a.btn.btn_primary.active( role='button')= self.label.buttons.filmTicketFree

//-         //- Sample img for showing presenter logo/pic - can be deleted
//-         //- if self.data.pictures.filmslugs[filmPath].presenter
//-         //-     section.f_extra_box
//-         //-             img.presenter_img(src=`/assets/img/img_films/${filmPath}/${self.data.pictures.filmslugs[filmPath].presenter}`)

//-         if self.filmQaClip

//-             section.f_qaclip_box
//-                 .section_headline= self.label.film.filmQaClip
//-                 .embed-responsive.embed-responsive-16by9.m-0.p-0
//-                     - youtubeVideoCode = self.filmQaClip.split("=")
//-                     +youtube(youtubeVideoCode[1])

//-         if self.filmTrailer

//-             section.f_trailer_box
//-                 .section_headline= self.label.film.filmTrailer
//-                 .embed-responsive.embed-responsive-16by9.m-0.p-0
//-                     - youtubeVideoCode = self.filmTrailer.split("=")
//-                     +youtube(youtubeVideoCode[1])

//-         section.f_imgs_box

//-     block film
